
article, aside, figcaption, figure,
footer, header, nav, section { 
   display: block;
}
article, aside, blockquote, body 
div,figcaption, figure, footer, 
h1, h2 header, html, img, 
li, nav, nav a, ol, p, section, span, ul {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
}


/* Set the default page element styles */

body {
   line-height: 1.2em;
}

ul, ol {
   list-style: none;
}

nav ul {
   list-style: none;
   list-style-image: none;
}

nav a {
   text-decoration: none;
}

